<div class="calendar">
  <div class="calendar__container">

    <div class="calendar__navigation">
      <div class="button-row">
        <button mat-mini-fab color="primary" (click)="prevWeek()"> < </button>
        <button mat-mini-fab color="accent" (click)="nextWeek()"> > </button>

      </div>
    </div>

    <div class="calendar__days-header">
      <div class="days-item" *ngFor="let item of week">
        <div class="day">{{item.day}}</div>
        <div class="number">{{item.number}}</div>
      </div>
    </div>

    <div class="calendar__days-body">
      <div class="calendar__hours">
        <div class="hour" *ngFor="let hour of hoursArray">
          <span>{{hour}}</span>
        </div>
      </div>

      <div class="calendar__days-content">
        тута контент дней
      </div>
    </div>
  </div>
</div>
